:root {
  --primary-color: #f6f6f6;
  --secondary-color: #1b1b1b;
  --accent-color: #7e847f;

  --section-bgr-color: #e8e8e8;
  --section-white-bgr-color: #ffffff;

  --btn-accent-color: #5f6560;
  --star-color: #eea10c;
}
