
@media screen and (min-width: 375px) {
    .mobile-menu {
        position: fixed;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: 99999999;
        transform: translateX(100vw);
        padding: 20px;
    }


    .mobile-menu.is-open {
        transform: translateX(0);

    }

    .mobile-menu-container {
        border-radius: 30px;
        background: #7E847F;



    }

    .mobile-menu-close-btn {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 45px;
        right: 40px;
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
        stroke: #F6F6F6;
    }

    .nav-menu {
        display: flex;
        padding-top: 400px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 96px;
        height: 76px;
        gap: 16px;

    }

    .nav-list-menu {
        /* display: flex; */
        /* flex-direction: column; */
    }

    .button-favorites-menu {

        color: #F6F6F6;
        background: #7E847F;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        width: 67px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 6px;
          

    }


    .button-home-menu {
        width: 96px;
        height: 36px;
        display: flex;
        padding: 6px 26px;
        justify-content: center;
        align-items: center;

        border-radius: 30px;
        background: var(--section-white-bgr-color);
    }

    .logotype-menu {
        padding-top: 20px;


    }

    .logotype-menu-link {
        padding-left: 20px;
        width: 86px;
        height: 18px;
        color: var(--primary-color);
        font-size: 16px;
        letter-spacing: -0.32px;
        font-weight: 700;
        line-height: 1.13
            /* 112.5% */
    }

    .contacts-social-list-menu {
        display: flex;
        padding-top: 314px;
        padding-bottom: 40px;
    }

    .social-list-menu {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

    }

    .social-list-link {
        stroke: #F6F6F6;
        fill: #F6F6F6;
    }

    .social-list-item {
        border-radius: 10px;
        border: 1px solid rgba(246, 246, 246, 0.20);
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 8px;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {

        display: none;
    }

}