.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999;
  transform: translateX(100vw);
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 246, 246, 1);
  display: none;
}

.mobile-menu.is-open {
  display: block;
  transform: translateX(0);
}

.mobile-menu-container {
  border-radius: 30px;
  background: #7e847f;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 45px;
  right: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  stroke: #f6f6f6;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 96px;
  gap: 16px;
}
.nav-item {
  display: flex;
  justify-content: center;
}
.nav-list-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.logotype-menu-link {
  padding-left: 20px;
  width: 86px;
  height: 18px;
  color: var(--primary-color);
  font-size: 16px;
  letter-spacing: -0.32px;
  font-weight: 700;
  line-height: 1.13;
}
.social-list-menu {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.social-list-item {
  padding: 0;
}

.social-list-link:hover > .social-list-icon {
  stroke: rgba(95, 101, 96, 1);
  fill: rgba(95, 101, 96, 1);
}
.social-list-icon-menu {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  stroke: rgba(246, 246, 246, 1);
  fill: rgba(246, 246, 246, 1);
}
.social-list-link-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid rgba(246, 246, 246, 0.2);
}
@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
