.exercise-filters-section {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 48px;
  padding-left: 48px;
  margin-bottom: 32px;
}

.exercise-filter-title {
  color: var(--secondary-color);
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.22px;
  margin-bottom: 32px;
}

.filters-buttons {
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.filter-button-active {
  background-color: var(--accent-color);
  color: var(--section-white-bgr-color);
}

.filter-button {
  color: var(--secondary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
  background-color: var(--section-white-bgr-color);
  border-radius: 30px;
  border: 1px solid #1b1b1b;
}

.filter-button:hover,
.filter-button:focus {
  background: var(--btn-accent-color);
}

.exercise-filters-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 20px;
  margin-bottom: 32px;
}

.filter-card {
  position: relative;
  width: 313px;
  height: 250px;
  cursor: pointer;
}

.filter-label {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
}

.filter-name {
  color: #f6f6f6;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 24px;
  line-height: 1;
}

.filter-type {
  font-size: 12px;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
