@media screen and (min-width: 375px) {
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.8);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-backdrop.is-open {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  .exercise-window {
    position: absolute;
    color: var(--secondary-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    border-radius: 20px;
    background-color: var(--primary-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .exercise-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
  }

  .exercise-close-icon {
    width: 16px;
    height: 16px;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .exercise-close-btn:hover .exercise-close-icon,
  .exercise-close-btn:focus .exercise-close-icon {
    fill: var(--accent-color);
  }

  .exercise-line-svg {
    width: 100%;
    height: 2px;
  }

  .exercise-container {
    padding: 40px;
  }

  .exercise-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 12px;
  }

  .exercise-image-modal {
    border-radius: 12px;
  }



  .exercise-info-wrapper {
    /* width: 382px; */
  }

  .exercise-name-and-rating-container {
    margin-top: 20px;
  }

  .exercise-name {
    color: #1b1b1b;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'DM Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  .exercise-rating {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;
  }

  /* ---------------------------------- */

  .exercise-params-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .exercise-params {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    gap: 20px;
  }

  .exercise-params-card {
    width: 82px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .exercise-param-name {
    /* color: rgba(27, 27, 27, 0.4);
    font-size: 12px;
    line-height: 1.5; */
    color: rgba(27, 27, 27, 0.4);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'DM Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  .exercise-param-value {
    /* font-weight: 500;
    line-height: 1.28px; */
    color: #1b1b1b;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  .exercise-calories {
    color: rgba(27, 27, 27, 0.4);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'DM Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }

  .exercise-calories-value {
    /* font-size: 14px;
    font-weight: 500;
    line-height: 1.28px;
    margin-bottom: 24px; */
    color: #1b1b1b;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
  }

  /* ------------------------------------------------------------------- */

  .exercise-description {
    margin-bottom: 40px;
    margin-top: 20px;
    color: rgba(27, 27, 27, 0.6);
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
  }

  .exercise-buttons {
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .exercise-favorite-btn {
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    color: var(--primary-color);
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 30px;
    background-color: var(--accent-color);
    border: 1px var(--secondary-color);
    justify-content: center;
    align-items: center;
  }

  .exercise-fav-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }

  .exercise-raiting-btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    color: var(--secondary-color);
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 30px;
    border: 1px solid black;
  }
}

@media screen and (min-width: 768px) {
  .exercise-window {
    position: absolute;
    color: var(--secondary-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 716px;
    border-radius: 20px;
    background-color: var(--primary-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .exercise-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding: 40px;
  }

  .exercise-image-modal {
    min-width: 270px;
    height: 259px;
  }

  .exercise-params-container {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .exercise-params {
    margin-bottom: 0px;
    gap: 16px;
  }

  .exercise-calories {
    margin-top: 16px;
  }

  .exercise-description {
    margin-bottom: 36px;
    margin-top: 16px;
  }

  .exercise-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .exercise-favorite-btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #7e847f;
  }

  .exercise-raiting-btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    border: 1px solid #1b1b1b;
  }

  .exercise-info-wrapper{
    overflow: hidden;
  }
}

@media screen and (min-width: 1440px) {
}
