.exercise-filters-section {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 32px;
}

.exercise-filter-title {
  color: var(--secondary-color);
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.22px;
  margin-bottom: 32px;
}

.filters-buttons {
  cursor: pointer;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.filter-button {
  color: var(--secondary-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 7px 14px;
  text-align: center;
  border: none;
  gap: 10px;
  background-color: var(--section-white-bgr-color);
  border-radius: 30px;
  border: none;
}

.filter-button-active {
  background-color: var(--accent-color);
  color: var(--section-white-bgr-color);
}

.filter-button:hover,
.filter-button:focus {
  background: var(--btn-accent-color);
}

.exercise-filters-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-bottom: 32px;
}

.filter-card {
  position: relative;
  width: 295px;
  height: 250px;
  cursor: pointer;
}

.filter-label {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
}

.filter-name {
  color: #f6f6f6;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 24px;
  line-height: 1;
}

.filter-type {
  font-size: 12px;
}

.form-for-searching-input {
  width: 295px;
  position: relative;
}

.searching-input {
  border: none;
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  color: #1b1b1b;
  border-radius: 30px;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  outline: none;
}

.searching-input::placeholder {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.searching-icon {
  stroke: #1b1b1b;
  fill: #f6f6f6;
}

.searching-btn {
  border: none;
  position: absolute;
  background-color: inherit;
  top: 12px;
  right: 14px;
  padding: 0;
  height: 18px;
}

.wrapper-for-buttons-and-form { 
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .exercise-filters-section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .filters-buttons {
    gap: 8px;
  }

  .filter-button {
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 0;
  }

  .form-for-searching-input {
    width: 246px;
    margin-left: 35px;
  }

  .wrapper-for-buttons-and-form { 
    margin-bottom: 55px;
  }

  .exercise-filters-list {
    column-gap: 14px;
  }

  .filter-card {
    width: 313px;
  }
}

@media screen and (min-width: 1440px) {
  .form-for-searching-input {
    margin-left: 680px;
    width: 273px;
  }

  .exercise-filters-list {
    column-gap: 20px;
  }
}
