.container-exercises-home {
  border-radius: 30px;
  background: #e8e8e8;
  padding: 40px 20px;
}

.exercise-filter-title {
  color: var(--secondary-color);
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.22px;
  margin-bottom: 32px;
}

.filters-buttons {
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.filter-button {
  color: var(--secondary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 32px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
  background-color: var(--section-white-bgr-color);
  border-radius: 30px;
  border: 1px solid #1b1b1b;
  outline: none;
}

.filter-button-active {
  background-color: var(--accent-color);
  color: var(--section-white-bgr-color);
}

.filter-button:hover,
.filter-button:focus {
  background: var(--btn-accent-color);
}

.exercise-filters-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.filter-card {
  position: relative;
  cursor: pointer;
}
.filter-card img {
  width: 295px;
  height: 232px;
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
}

.filter-label {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 2px;
}

.filter-name {
  color: #f6f6f6;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.filter-type {
  color: rgba(246, 246, 246, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .container-exercises-home {
    border-radius: 50px;
    padding: 64px 48px;
  }

  .exercise-filters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    align-content: center;
  }

  .filter-card img {
    width: 313px;
    height: 250px;
  }

  .filter-name {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .exercise-filters-list {
    row-gap: 40px;
    column-gap: 20px;
  }
}
