.favorites-motivation-ports {
  margin-top: 96px;
  padding: 0;
}

/*================== favorites-motivation-image ==================== */

.favorites-motivation-image-cont {
  border-radius: 30px;
  background: url(/img/favorite/favorite-mobile@1x.jpg) no-repeat;
  background-size: cover;
  height: 272px;
}

/*================== favorites-motivation-inform ==================== */

.favorites-motivation-block {
  border-radius: 30px;
  position: relative;
  background-color: var(--section-white-bgr-color);

  height: 272px;
}

.favorites-motivation-conteiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 132px;
  height: 91px;
}

.favorites-motivation-block-img {
  width: 20px;
  height: 20px;
}

.favorites-motivation-block-time {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--secondary-color);

  margin-top: 15px;
  margin-bottom: 6px;
}

.favorites-motivation-block-inform {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: rgb(27, 27, 27, 0.6);
}

@media screen and (min-width: 375px) {
  .favorites-motivation-ports {
    margin-top: 96px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*======================== screen 768 =========================== */

@media screen and (min-width: 768px) {
  .favorites-motivation-ports {
    margin-top: 180px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .favorites-quote-day {
    margin-bottom: 16px;
  }

  /*================== favorites-motivation-image ==================== */

  .favorites-motivation-image-cont {
    display: inline-block;
    border-radius: 50px;

    background: url(/img/favorite/favorite-tablet@1x.jpg) no-repeat;
    background-size: cover;
    width: 366px;
    height: 302px;
  }

  /*================== favorites-motivation-inform ==================== */

  .favorites-motivation-block {
    display: inline-block;
    width: 365px;
    height: 302px;
    border-radius: 50px;
  }

  .favorites-motivation-conteiner {
    height: 90px;
  }

  .favorites-motivation-block-time {
    font-size: 24px;
    line-height: 1.3;
  }
}

/*===================================== screen 1440px =============================*/
@media screen and (min-width: 1440px) {
  .favorites-motivation-ports {
    display: flex;
    margin-top: 156px;
  }

  .favorites-quote-day {
    flex-grow: 2;
  }
  .quote-width {
    width: 100%;
  }

  /*================== favorites-motivation-image ==================== */

  .favorites-motivation-image-cont {
    flex-shrink: 0;
    width: 352px;
    border-radius: 50px;
    background: url(/img/favorite/favorite-desktop@1x.jpg) no-repeat;
  }

  /*================== favorites-motivation-inform ==================== */

  .favorites-motivation-block {
    flex-shrink: 0;
    width: 352px;
    position: relative;
  }

  .favorites-motivation-conteiner {
    height: 91px;
  }

  .favorites-motivation-block-inform {
    line-height: 1.28;
  }
}
