@media screen and (min-width: 375px) {
  .conteiner-favorites-exercises {
    margin-top: 20px;
    padding: 40px 20px;

    background-color: var(--section-bgr-color);
    border-radius: 30px;
  }

  .favorites-exercises-titel {
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -2px;
    margin-bottom: 32px;
  }

  /* =============== favortes-no-exercises-found ======================*/
  .favortes-no-exercises {
    width: 247px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 128px;
  }

  .favortes-no-exercises-found-img {
    background: url(/img/favorite/dumbbell-mobile.png) no-repeat;
    background-size: cover;
    width: 85px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
  }

  .favortes-no-exercises-found-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
  }
  /* =============== favorites-list-exercises-likes ======================*/
  .favorites-list-exercises-likes {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .list-exercises-favorites {
    background-color: var(--section-white-bgr-color);
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 15px;
  }

  .list-exercises-favorites-category {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .exercises-favorites-name-category {
    display: inline;

    font-weight: 500;
    font-size: 12px;

    background-color: var(--accent-color);
    color: var(--primary-color);

    padding: 5px 8px;
    border-radius: 15px;
    margin-right: 8px;
  }

  .favorites-button-remove {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }

  .favorites-icon-trash {
    display: inline-block;
    width: 16px;
    height: 16px;
    stroke-width: 0;
    stroke: var(--secondary-color);
    fill: var(--primary-color);
    transform: translateY(+25%);
  }

  .exercises-favorites-but-start {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;

    align-items: center;

    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }

  .favorites-icon-arrow {
    display: inline-block;
    width: 14px;
    height: 14px;
    stroke-width: 0;
    stroke: var(--secondary-color);
    fill: var(--secondary-color);
    transform: translateY(+20%);
    margin-left: 8px;
  }

  .list-exercises-favorites-name {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 16px;
  }

  .exercises-favorites-name {
    display: inline;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;

    margin-left: 16px;
  }

  .list-exercises-favorites-characteristic {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
  }

  .favorites-list-characteristic {
    font-size: 12px;
    line-height: 1.5;
  }

  .favorites-characteristic-criteria {
    color: rgb(27, 27, 27, 0.4);
  }
}

/*====================================== screen 768px =======================================*/

@media screen and (min-width: 768px) {
  .conteiner-favorites-exercises {
    margin-top: 16px;
    padding: 64px 48px;
    border-radius: 50px;
  }

  .favorites-exercises-titel {
    font-size: 44px;
    line-height: 1.09;
  }

  /* =============== favortes-no-exercises-found ======================*/
  .favortes-no-exercises {
    width: 554px;
    margin-top: 208px;
    margin-bottom: 343px;
  }

  .favortes-no-exercises-found-img {
    width: 115px;
    height: 71px;
    background: url(/img/favorite/dumbbell-desktop.png) no-repeat;
  }

  .favortes-no-exercises-found-text {
    font-size: 18px;
    line-height: 1.3;
  }

  /* =============== favorites-list-exercises-likes ======================*/
  .favorites-list-exercises-likes {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    row-gap: 20px;
    column-gap: 14px;

    max-height: 720px;
    overflow-y: auto;
  }

  .favorites-list-exercises-likes::-webkit-scrollbar {
    width: 8px;
    margin-left: 16px;
    overflow: overlay;
  }

  .favorites-list-exercises-likes::-webkit-scrollbar-track {
    background: rgb(27, 27, 27, 0.1);
    border-radius: 12px;
  }

  .favorites-list-exercises-likes::-webkit-scrollbar-thumb {
    background: #7e847f;
    border-radius: 12px;
    border: 2px solid rgb(27, 27, 27, 0.1);
  }

  .list-exercises-favorites {
    width: calc((100% - 14px) / 2);
    margin-bottom: 0px;
  }

  .exercises-favorites-but-start {
    font-size: 16px;
    line-height: 1.5;
  }

  .favorites-icon-arrow {
    width: 16px;
    height: 16px;
    transform: translateY(+25%);
  }

  .list-exercises-favorites-name {
    margin-bottom: 8px;
  }

  .exercises-favorites-name {
    font-size: 24px;
    line-height: 1.3;
  }

  .favorites-list-characteristic {
    color: rgb(27, 27, 27);
  }

  .favorites-characteristic-criteria {
    color: rgb(27, 27, 27, 0.4);
  }
}

/*================================ screen  1440px ============================*/

@media screen and (min-width: 1440px) {
  .conteiner-favorites-exercises {
    background-color: var(--section-bgr-color);
  }

  /* =============== favortes-no-exercises-found ======================*/
  .favortes-no-exercises {
    margin-top: 146px;
    margin-bottom: 150px;
  }

  /* =============== favorites-list-exercises-likes ======================*/
  .favorites-list-exercises-likes {
    row-gap: 28px;
    column-gap: 20px;
    max-height: 487px;
  }

  .list-exercises-favorites {
    width: calc((100% - 40px) / 3);
  }

  .exercises-favorites-name {
    display: inline;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;

    margin-left: 16px;
  }
}
