.active-btn {
  display: flex;
  padding: 6px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: #fff;

  font-size: 16px;
  line-height: 1.5;

  border: none;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  color: #f6f6f6;
  font-size: 16px;
  line-height: 1.5;
  background: none;
  border: none;
  padding: 6px 0;
  transition: opacity 3000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-section {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 40px;
}
.logotype {
  color: var(--secondary-color);
  font-size: 16px;
  letter-spacing: -0.32px;
  font-weight: 700;
  line-height: 1.13;
}

.nav {
  display: none;
}

.social-list-header {
  display: none;
}

.button-align-justify {
  border: none;
  background-color: transparent;
  padding: 0;
  height: fit-content;
}

.header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .header-section {
    top: 48px;
  }
  .header-page {
    padding: 0 32px;
    align-items: center;
  }
  .header-left-part {
    display: flex;
    align-items: center;
    gap: 81px;
  }
  .logotype {
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.56px;
  }
  .nav {
    display: block;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 211px;
    height: 52px;

    border-radius: 60px;
    background: #7e847f;
  }

  .social-list-header {
    display: flex;
    gap: 12px;
  }

  .social-list-item {
    padding: 0;
  }

  .social-list-link:hover > .social-list-icon {
    stroke: rgba(95, 101, 96, 1);
    fill: rgba(95, 101, 96, 1);
  }
  .social-list-icon {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    stroke: rgba(126, 132, 127, 1);
    fill: rgba(126, 132, 127, 1);
  }
  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid rgba(126, 132, 127, 0.2);
  }

  .button-align-justify {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-left-part {
    gap: 397px;
  }
}
