.pagination-dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin: 20px auto 0;
}

.pagination-dot {
  color: rgba(27, 27, 27, 0.4);
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0px 12px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.active-pagination-dot {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  border-radius: 18px;
  border: 1px solid var(--secondary-color);
}

.pagination-dot:hover() {
  border-radius: 18px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .pagination-dots {
    margin: 32px auto 0;
  }
}
