.hero-section {
  padding-top: 8px;
}

.quote {
  position: relative;
  padding: 20px 20px 20px 32px;
  background-color: #7e847f;
  border-radius: 30px;
  height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-head {
  display: flex;
  justify-content: space-between;
}

.svg-position {
  left: 20px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 255px;
}

.quote-running-man {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f61a;
}

.quote-content {
  padding-left: 32px;
}

.quote-title {
  color: #f6f6f6;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
}

.quote-unfold {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote-text {
  color: #f6f6f699;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  padding-bottom: 20px;
}

.quote-author {
  color: #f6f6f6;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.quote-photo {
  background: url(/img/quote/quote-mobile@1x.jpg) no-repeat;
  background-size: cover;
  border-radius: 30px;
  height: 272px;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx),
  screen and (max-width: 767px) and (min-device-pixel-ratio: 2) {
  .quote-photo {
    background-image: url(/img/quote/quote-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 16px;
  }
  .quote {
    position: relative;
    height: 302px;
    border-radius: 50px;
    padding: 20px 60px 20px 32px;
  }

  .quote-running-man {
    position: absolute;
    left: 65px;
  }

  .quote-content {
    padding-left: 95px;
  }

  .quote-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
  }

  .svg-double-quotes {
    position: absolute;
    top: -32px;
    left: 516px;
    width: 48px;
    height: 48px;
  }

  .quote-unfold {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  .quote-photo {
    background: url(/img/quote/quote-tablet@1x.jpg) no-repeat;
    background-size: cover;
    border-radius: 50px;
    height: 302px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .quote-photo {
    background-image: url(/img/quote/quote-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1440px) {
  .quote-container {
    display: flex;
  }

  .quote {
    width: 50%;
    height: 302px;
    border-radius: 50px;
  }

  .quote-text {
    font-size: 16px;
  }

  .quote-photo {
    background: url(/img/quote/quote-desktop@1x.jpg) no-repeat;
    background-size: cover;
    width: 50%;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .quote-photo {
    background-image: url(/img/quote/quote-desktop@2x.jpg);
  }
}
