.rating-form-container {
  background-color: rgba(27, 27, 27, 0.6);
}
.rating-form-content {
  border-radius: 20px;
  background: #f6f6f6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-rating-form-icon {
  width: 24px;
  height: 24px;
  stroke: rgba(27, 27, 27, 1);
}

.rating-form-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}
.close-rating-form-btn {
  position: absolute;
  top: 14px;
  right: 14px;
}
.rating-label {
  color: rgba(27, 27, 27, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
.rating-number {
  color: var(--secondary-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  line-height: 1.5;
}
.stars-container {
  display: flex;
  gap: 2px;
  align-items: center;
  margin-top: 8px;
}
.rating-form-send-btn {
  display: flex;
  padding: 12px 131px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: var(--accent-color);
  border: 0;

  color: #f6f6f6;
  font-size: 14px;
  line-height: 1.28;
}
.rating-form-send-btn:hover {
  background: var(--btn-accent-color);
}
.rating-form-email-input:active,
.rating-form-email-input:hover,
.rating-form-comment:active,
.rating-form-comment:hover {
  border: 1px solid var(--btn-accent-color);
}
.rating-form-email-input {
  border-radius: 30px;
  border: 1px solid rgba(27, 27, 27, 0.4);
  height: 42px;
  padding-left: 14px;
  color: rgba(27, 27, 27, 0.6);
  font-size: 14px;
  line-height: 1.28;
  outline: none;
}
.rating-form-comment {
  border-radius: 15px;
  border: 1px solid rgba(27, 27, 27, 0.4);
  width: 100%;
  height: 93px;
  padding-left: 14px;
  padding-top: 12px;
  margin-bottom: 20px;
  color: rgba(27, 27, 27, 0.6);
  font-size: 14px;
  line-height: 1.28;
  outline: none;
  resize: none;
}
@media screen and (min-width: 375px) {
  .rating-form-content {
    width: 335px;
    height: 357px;
  }
  .rating-form-btn {
    width: 24px;
    height: 24px;
  }
  .rating-form-content {
    padding: 40px 20px;
  }
  .star-btn-icon {
    width: 24px;
    height: 24px;
    fill: rgba(27, 27, 27, 0.2);
  }
  .rating-form-comment {
    height: 93px;
    margin-bottom: 20px;
  }
  .rating-form-email-input {
    height: 42px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .rating-form-content {
    width: 450px;
    height: 432px;
  }

  .rating-form-btn {
    width: 28px;
    height: 28px;
  }
  .rating-form-content {
    padding: 50px;
  }
  .star-btn-icon {
    width: 28px;
    height: 28px;
  }
  .rating-form-comment {
    height: 106px;
    margin-bottom: 32px;
  }
  .rating-form-email-input {
    height: 48px;
    margin-bottom: 16px;
    margin-top: 32px;
  }
}
