<div class="mobile-menu js-mobile-menu">
  <div class="mobile-menu-container">
    <div class="logotype-menu">
      <a class="logotype-menu-link" href="./index.html">energy.flow</a>
    </div>
    <button class="mobile-menu-close-btn js-mobile-menu-close-btn">
      <svg
        class="mobile-menu-close-icon"
        width="20"
        height="20"
        aria-label="mobile menu close icon"
      >
        <use href="./img/icons/symbols.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="nav-menu">
      <ul class="nav-list-menu">
        <li class="nav-item">
          <span class="button-home active-btn">
            <a href="./index.html" class="nav-link">Home</a>
          </span>
        </li>
        <li class="nav-item">
          <span class="button-favorites btn">
            <a href="./favorites.html" class="nav-link nav-link-favorites"
              >Favorites</a
            >
          </span>
        </li>
      </ul>
    </nav>

    <div class="contacts-social-list-menu">
      <ul class="social-list-menu list"></ul>
    </div>
  </div>
</div>
