<div class="modal-backdrop">
  <div class="exercise-window">
    <div class="exercise-container">
      <button class="exercise-close-btn" type="button">
        <svg
          class="exercise-close-icon"
          width="28"
          height="28"
          aria-label="Close icon"
        >
          <use href="../img/icons/symbols.svg#icon-icon"></use>
        </svg>
      </button>
      <div class="exercise-image-wrapper">
        <img
          src="https://ftp.goit.study/img/power-pulse/gifs/0022.gif"
          alt=""
        />
      </div>
      <div class="exercise-info-wrapper">
        <p class="exercise-name">Air bike</p>
        <p class="modal-rating">Rating</p>

        <ul class="exercise-params">
          <li class="exercise-params-card">
            <p class="exercise-param-name">Target</p>
            <p class="exercise-param-value">ABC</p>
          </li>
          <li class="exercise-params-card">
            <p class="exercise-param-name">Body part</p>
            <p class="exercise-param-value">Waist</p>
          </li>
          <li class="exercise-params-card">
            <p class="exercise-param-name">Equipment</p>
            <p class="exercise-param-value">Bike</p>
          </li>
          <li class="exercise-params-card">
            <p class="exercise-param-name">Popular</p>
            <p class="exercise-param-value">150</p>
          </li>
        </ul>
        <p class="exercise-calories">Burned calories</p>
        <p class="exercise-calories-value">323/3 min</p>
        <p class="exercise-description">
          This refers to your core muscles, which include the rectus abdominis,
          obliques, and transverse abdominis. They're essential for maintaining
          posture, stability, and generating force in many movements. Exercises
          that target the abs include crunches, leg raises, and planks.
        </p>

        <div class="exercise-buttons">
          <button
            class="exercise-favorite-btn"
            type="submit"
            data="exercise-id"
          >
            Add to favorites
          </button>
          <button class="exercise-raiting-btn" type="submit" data="">
            Give a rating
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
