<section class="exercise-filters-section">
  <div class="container">
    <h2 class="exercise-filter-title">Exercices</h2>
    <div class="filters-buttons">
      <button
        class="filter-button first-filter-button"
        type="submit"
        data-filter="Muscles"
      >
        Muscles
      </button>
      <button class="filter-button" type="submit" data-filter="Body parts">
        Body parts
      </button>
      <button class="filter-button" type="submit" data-filter="Equipment">
        Equipment
      </button>
      <form class="form-for-searching-input">
        <input
          class="searching-input"
          type="text"
          name="searching-input"
          placeholder="Search"
        />
        <button class="searching-btn" type="submit">
          <svg class="searching-icon" width="18" height="18">
            <use href="../img/icons/symbols.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <ul class="exercise-filters-list"></ul>
  </div>
</section>
