<section class="exercise-filters-section">
  <div class="container">
    <h2 class="exercise-filter-title">Exercices</h2>
    <div class="filters-buttons">
      <button class="filter-button" type="submit" data-filter="Muscles">
        Muscles
      </button>
      <button class="filter-button" type="submit" data-filter="Body parts">
        Body parts
      </button>
      <button class="filter-button" type="submit" data-filter="Equipment">
        Equipment
      </button>
    </div>
    <ul class="exercise-filters-list"></ul>
    <div class="pagination-dots"></div>
  </div>
</section>
