<section>
  <div class="container favorites-motivation-ports">
    <div class="quote-container favorites-quote-day">
      <div class="quote quote-width">
        <div class="quote-head">
          <div class="svg-position">
            <div class="quote-running-man">
              <svg class="quote-svg" width="28" height="28">
                <use href="./img/icons/symbols.svg#icon-running-man"></use>
              </svg>
            </div>
            <svg class="svg-double-quotes" width="28" height="28">
              <use href="./img/icons/symbols.svg#icon-inverted-commas"></use>
            </svg>
          </div>
          <div class="quote-content">
            <h2 class="quote-title">Quote of the day</h2>
            <div class="quote-unfold js-quote"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="favorites-motivation-image-cont"></div>
    <div class="favorites-motivation-block">
      <div class="favorites-motivation-conteiner">
        <p class="favorites-motivation-block-img">
          <img
            src="./img/favorite/fluent-food-24-filled.jpg"
            alt="img-dumbbell"
          />
        </p>
        <p class="favorites-motivation-block-time">110 min</p>
        <p class="favorites-motivation-block-inform">Daily norm of sports</p>
      </div>
    </div>
  </div>
</section>
