<header class="header-section">
  <div class="container header-section-container">
    <div class="header-page">
      <div class="header-left-part">
        <a class="logotype" href="./index.html">energy.flow</a>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <span class="button-home active-btn">
                <a href="./index.html" class="nav-link">Home</a>
              </span>
            </li>
            <li class="nav-item">
              <span class="button-favorites btn">
                <a href="./favorites.html" class="nav-link">Favorites</a>
              </span>
            </li>
          </ul>
        </nav>
      </div>
      <div class="contacts-social-list-header">
        <ul class="social-list-header list"></ul>
      </div>
      <button class="button-align-justify js-open-menu-btn">
        <svg
          class="icon-align-justify"
          width="32"
          height="16"
          aria-label="icon-align-justify"
        >
          <use href="./img/icons/symbols.svg#icon-align-justify"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
