<header class="header-section">
  <div class="container header-section-container " >
    <div class="header-page">
      
        <a class="logotype " href="./index.html">energy.flow</a> 
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <button class="button-home" type="button">
            <a href="./index.html" class="nav-link ">Home</a>
          </button>
          
        </li>

        <li class="nav-item">
          <button class="button-favorites" type="button">
            <a href="./favorites.html" class="nav-link ">Favorites</a> 
          </button>
          
        </li>
      </ul>
    </nav>
    <div class="contacts-social-list-header">
      <ul class="social-list-header list">
        <li class="social-list-item">
          <a class="social-list-link" target="_blank" href="https://www.facebook.com/goITclub/">
            <svg class="social-list-icon" width="28" height="28" aria-label="facebook icon">
              <use href="../img/icons/symbols.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a class="social-list-link" target="_blank" href="https://www.instagram.com/goitclub/">
            <svg class="social-list-icon" width="28" height="28" aria-label="instagram icon">
              <use href="../img/icons/symbols.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a class="social-list-link" target="_blank" href="https://www.youtube.com/c/GoIT">
            <svg class="social-list-icon" width="28" height="28" aria-label="youtube icon">
              <use href="../img/icons/symbols.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="button-align-justify js-open-menu-btn">
      
        <svg class="icon-align-justify" width="28" height="28" aria-label="icon-align-justify">
          <use href="../img/icons/symbols.svg#icon-align-justify"></use>
        </svg>
    </button>
  </div>
</div>
<script
  type="module"
  src="../js/exercise-modal/burger-modal-menu.js"
></script>
</header>