<section class="hero-section">
  <div class="container hero">
    <div class="hero-banner">
      <ul class="hero-hashtags">
        <li class="hero-hashtags-item">#Sport</li>
        <li class="hero-hashtags-item">#Healthy</li>
        <li class="hero-hashtags-item">#Workout</li>
        <li class="hero-hashtags-item">#Diet</li>
      </ul>
    </div>
    <div class="hero-text">
      <h1 class="hero-title">
        Get <span class="hero-body">Body</span> in shape, Stay healthy
      </h1>
      <p class="hero-subtitle">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>
  </div>
</section>

