<section class="quote-section">
  <div class="container quote-container">
    <div class="quote">
      <div class="quote-head">
        <div class="quote-running-man">
          <svg class="quote-svg" width="28" height="28">
            <use href="../img/icons/symbols.svg#icon-running-man"></use>
          </svg>
        </div>
        <div class="quote-content">
          <h2 class="quote-title">Quote of the day</h2>
          <svg class="svg-double-quotes" width="28" height="28">
            <use href="../img/icons/symbols.svg#icon-inverted-commas"></use>
          </svg>
        </div>
      </div>
      <div class="quote-unfold js-quote">
        <!-- <p class="quote-text">A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest heart.</p>
        <h3 class="quote-author">Tom Brady</h3> -->
      </div>
      
  </div>
  <div class="quote-photo"></div>
  </div>
</section>
