<section class="rating-form-section">
  <div class="container">
    <div class="rating-form-container modal-backdrop">
      <div class="rating-form-content">
        <button type="button" class="close-rating-form-btn rating-form-btn">
          <svg
            class="close-rating-form-icon"
            width="24"
            height="24"
            aria-label="close icon"
          >
            <use href="./img/icons/symbols.svg#icon-x"></use>
          </svg>
        </button>
        <div class="rating-stars-container">
          <p class="rating-label">Rating</p>
          <div class="stars-container">
            <p class="rating-number">0.0</p>
            <button
              type="button"
              class="star-btn rating-form-btn"
              data-starnumber="1"
            >
              <svg
                class="star-btn-icon"
                width="24"
                height="24"
                aria-label="star icon"
              >
                <use href="./img/icons/symbols.svg#icon-star"></use>
              </svg>
            </button>
            <button
              type="button"
              class="star-btn rating-form-btn"
              data-starnumber="2"
            >
              <svg
                class="star-btn-icon"
                width="24"
                height="24"
                aria-label="star icon"
              >
                <use href="./img/icons/symbols.svg#icon-star"></use>
              </svg>
            </button>
            <button
              type="button"
              class="star-btn rating-form-btn"
              data-starnumber="3"
            >
              <svg
                class="star-btn-icon"
                width="24"
                height="24"
                aria-label="star icon"
              >
                <use href="./img/icons/symbols.svg#icon-star"></use>
              </svg>
            </button>
            <button
              type="button"
              class="star-btn rating-form-btn"
              data-starnumber="4"
            >
              <svg
                class="star-btn-icon"
                width="24"
                height="24"
                aria-label="star icon"
              >
                <use href="./img/icons/symbols.svg#icon-star"></use>
              </svg>
            </button>
            <button
              type="button"
              class="star-btn rating-form-btn"
              data-starnumber="5"
            >
              <svg
                class="star-btn-icon"
                width="24"
                height="24"
                aria-label="star icon"
              >
                <use href="./img/icons/symbols.svg#icon-star"></use>
              </svg>
            </button>
          </div>
        </div>
        <form class="give-rating-form">
          <input
            type="email"
            class="rating-form-email-input"
            name="email-input"
            placeholder="Email"
          />
          <textarea
            name="comment"
            id="comment-textarea"
            class="rating-form-comment"
            placeholder="Your comment"
          ></textarea>
          <button class="rating-form-send-btn">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
