<section class="sport-section">
  <div class="container sport-container">
    <div class="sport-flex">
      <div class="sport-img"></div>

      <div class="sport-text">
        <svg class="sport-svg" width="28" height="28">
          <use href="./img/icons/symbols.svg#icon-weights"></use>
        </svg>

        <div class="sport-p">
          <h3 class="sport-header">110 min</h3>
          <span class="sport-span">Daily norm of sports</span>
          <p class="sport-paragraph">
            The World Health Organization recommends at least 150 minutes of
            moderate-intensity aerobic physical activity throughout the week for
            adults aged 18-64. However, what happens if we adjust that number to
            110 minutes every day?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
